.body {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

.p {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  color: #396083;
  box-sizing: border-box;
  font-size: 13pt;
}
.h4 {
  margin-top: -50px;
  color: #073863;
  margin-left: 600px;
}

.img {
  /* estilo reposiv */
  border-style: none;
  width: 300px;
  margin-left: 75px;
  
}


.imagenes{
  text-align: center;
}

.img2 {
  vertical-align: top;
  box-shadow: none !important;
  height: auto;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  border-style: none;
  border-radius: 80px;
}

.planes{
  margin-left: 80px;
}
.plan1 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-right: 80px;
}
.plan2 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-right: 80px;
}
.plan3 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.plan4 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.slider{
  width: 100%;
  margin: auto;
  height: 600px;
  overflow: hidden;

}

.slider ul{
  padding: 0%;
  display: flex;
  width: 200%;

  animation: slider 15s infinite;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider li img{
  width: 100%;
}

@keyframes slider{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

}

.button1{
  margin-left: 190px;
  background-color: rgb(133, 241, 228);
  
}
.button2{
  margin-left: 170px;
  background-color: rgb(133, 241, 228);
}
.button3{
  margin-left: 170px;
  background-color: rgb(133, 241, 228);
}
.button4{
  margin-left: 160px;
  background-color: rgb(133, 241, 228);
}

.fuentes h3{
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  border-color:white;
}
.CopyRight{
  width: 100%;
  height: 80px;
  background-color: rgb(0,203,234);
  display: flex;
}

.pre{
  margin-top: 30px;
  margin-left: 90px;
  color: white; 
  font-family: sans-serif;
  font-size: 13px;
  align-items: center;
}