.body {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  /* margin-top: 0;
  margin-left: ;
  margin-right: 10px; */
}

.p {
  text-align: justify;
  margin-left: 50%;
  margin-right: 10%;
  color: #396083;
  box-sizing: border-box;
  font-size: 13pt;
}
.h4 {
  color: #073863;
  text-align: center;
}

.img {
  /* estilo reposiv */
  border-style: none;
  max-width: 100%;
  height: auto;

  width: 20%;
  margin-right: 10%;
  margin-left: 20%;
  margin-top: -2%;
}

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.img2 {
  vertical-align: top;
  box-shadow: none !important;
  height: auto;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-radius: 80px;
}

.planes {

    
  /* margin: 240px; */
  vertical-align: top;
}

.plan1 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.plan2 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.plan3 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.plan4 {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.slider{
  width: 100%;
  margin: auto;
  height: 900px;
  overflow: hidden;
}

.slider ul{
  padding: 0%;
  display: flex;
  width: 200%;

  animation: slider 15s infinite;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider li img{
  width: 100%;
}

@keyframes slider{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

}